
/*עמודי תוכן -body הגדרה של */
body {
direction: rtl;
width: 1280px;
margin: 0 auto;
}

/*מיקום וערכים של header - ספציפית לעמוד טיפים*/
header {
height: 760px;
width: 1280px;
   
}

/*כיון ומיקום של התפריט הראשי */
nav {
position:relative;
right: 180px;
top: -300px;
}

/*כיון ומיקום של התפריט המשני */
#nav2 {
position: relative;
right: 183px;
top: 6px;
}


/** העלמה של תבליטים ומיקום התפריט*/*/
nav ul {
position: relative;
right: 120px;
margin: 0;
padding: 0;
list-style: none;
}

/*המיקום של הטקסט של התפריט הראשי  קובייה*/
.cotert {
display: inline-block;
background-color: #FFFFFF;
width: 121px;
height: 23px;
padding: 7px;
right: -8px;
font-size: 20px;
}


.dropdown {
height: 100%;
background-color: unset;
}

/*המרחק בין כל קובייה*/
nav ul li {
display: inline-block;
float: right;
padding: 5px;
margin: 7px;
position: relative;
background-color: #FFFFFF;
border-radius: 10px;
width: 117px;
height: 18px;
right: 6px;
z-index: 2;
}

/*סימון קו תחתון- תפריט ראשי - בעמוד נוכחי*/
 #imhere > a {
text-decoration: underline;
}

/*/*העיצוב של כל טקסט בקובייה -תפריט ראשי*/
nav ul li a {
display: block;
text-align: center;
text-decoration: none;
border-radius: 10px;
top: 22px;
right: -15px;
color: #3D5982;
z-index: 3;
}

/*חץ תפריט ראשי*/
nav ul li a span > img {
position: relative;
top: -4px;
right: 5px;
}

/*העיצוב של הלינק*/
nav ul li a:link {
color: #3D5982;
position: relative;
z-index: 5;
}


/*  מרווח בין קוביות תת תפריט*/
nav ul li ul li {
margin: -1px;
border: 1px solid lightgrey;
width: 120px;
border-radius: 2px;
}

/*מיקום קוביות תת תפריט*/
nav ul li ul {
display: none;
right: -16px;
padding: 15px 5px 5px;
}

/*מעבר עכבר על התת תפריט*/
nav > ul > li:hover ul, nav> ul > li:focus ul {
display: block;
color: #3D5982;
text-decoration: underline;
}

/*רקע כחול לתת תפריט במעבר עכבר*/
nav > ul > li ul :hover {
background-color: rgb(204, 204, 204);
}

/*העיצוב של המעבר עכבר*/
nav ul li a:hover {
background-color: rgb(204, 204, 204);
position: relative;
z-index: 3;
text-decoration: underline;
font-weight: bold;
}

/*טקסט קוביות של תת תפריט*/
nav ul li > ul li > a {
right: 5px;
padding-right: -10px;
top: 2px;
z-index: 3;
text-align: right;
font-size: 18px;
}
/*סימון - בלתי אפשרי*/
.notActive {
cursor: not-allowed;
color: #3D5982;
}

/*לוגו*/
#one > img {
position: relative;
display: inline-block;
height: 146px;
width: 300px;
right: -34px;
top: -192px;
z-index: 1;
}

/*אייקון כניסה*/
#img1 {
position: relative;
float: right;
width: 42px;
height: 35px;
margin-left: 25px;
margin-right: 82px;
right: 197px;
top: -267px;
z-index: 3;
}

/*אייקון הרשמה*/
#img2 {
position: relative;
float: right;
width: 40px;
height: 67px;
margin-left: 25px;
margin-right: 82px;
right: 101px;
top: -276px;
z-index: 3;
}

/*כניסה - מילה*/
#words1 {
font-family: Calibri;
color: #ffffff;
font-size: 18px;
position: relative;
float: right;
width: 40px;
height: 30px;
right:366px;
top: -268px;
z-index: 5;
}

/*הרשמה - מילה*/
#words2 {
font-family:Calibri;
color: #ffffff;
font-size: 18px;
position: relative;
float: right;
width: 40px;
height: 30px;
right: 270px;
top: -267px;
z-index: 3;
}

/*העלמה של תבליטים*/
ul {
margin: 0;
padding: 0;
list-style: none;
position: relative;
}

/*תמונת רקע*/
#backgroundimg {
background-image: url('../images/homepageheader (2).jpg');
height: 160px;
width: 1280px;
z-index: 0;
}

/*/*מיקום ועיצוב- פירורי לחם - טקסט- */
#nav2 > ol li {
position: relative;
padding: 15px;
list-style: none;
display: inline-block;
margin-right: -29px;
color: white;
float: right;
right: -862px;
}

/*מיקום ועיצוב- פירורי לחם - טקסט- קישורים */
ol li > a {
color: white;
}

/*העיצוב של הלינקים לפני - פירורי לחם*/
#nav2 > ol li a:link {
color: white;
z-index: 2;
text-decoration: none;
}

/*העיצוב של הלינקים במעבר עכבר - פירורי לחם*/
#nav2 ol li a:hover {
color: white;
position: relative;
text-decoration: underline;
}

#nav2 ol li a:active {
text-decoration: underline;
position: relative;
color: white;
}

/*הוספת אופרטור  - פירורי לחם*/
#nav2 ol li:after {
content: ">";
padding-right: 15px;
}

/*עצירה של הוספת אופרטר אחרי מילה אחרונה  - פירורי לחם*/
#nav2 ol li:last-child:after {
content: " ";
}

/*העיצוב של המלבן של הפירורי לחם*/
#nav2 > ol {
background-color: #f74b4b;
position: relative;
height: 41.95px;
width: 1244px;
padding-right: -3px;
top: -140px;
right: -185px;
z-index: 0;
}

/*פירורי לחם - בעמוד הנוכחי - קו תחתון*/
nav > ol > li:last-child {
text-decoration: underline;
}

/*דלג תוכן*/
#skip a {
display: block;
width: 1px;
height: 1px;
overflow: hidden;
position: absolute;
margin-top:-40px;
margin-right:10px;
}

/*דלג תוכן - פוקוס במצב לחיצה
*/#skip a:active, #skip a:focus {
width: 100px;
height: 50px;
overflow: visible;
font-size: 20px;
background-color: white;
color: black;
font-family: Calibri;
}